.mtk1 { color: #000000; }
.mtk2 { color: #fffffe; }
.mtk3 { color: #808080; }
.mtk4 { color: #ff0000; }
.mtk5 { color: #0451a5; }
.mtk6 { color: #0000ff; }
.mtk7 { color: #098658; }
.mtk8 { color: #008000; }
.mtk9 { color: #dd0000; }
.mtk10 { color: #383838; }
.mtk11 { color: #00107e; }
.mtk12 { color: #cd3131; }
.mtk13 { color: #863b00; }
.mtk14 { color: #af00db; }
.mtk15 { color: #800000; }
.mtk16 { color: #e00000; }
.mtk17 { color: #3030c0; }
.mtk18 { color: #666666; }
.mtk19 { color: #778899; }
.mtk20 { color: #c700c7; }
.mtk21 { color: #a31515; }
.mtk22 { color: #4f76ac; }
.mtk23 { color: #008080; }
.mtk24 { color: #001188; }
.mtk25 { color: #4864aa; }
.mtki { font-style: italic; }
.mtkb { font-weight: bold; }
.mtku { text-decoration: underline; text-underline-position: under; }

/* 1 for white space and punctuation */
/* 11 for variables  */
/* 21 for strings */
/* 8 for comments */